@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
    background-color: #bdf3c1;
}

h1{
    margin-bottom: 30px;
}
h2{
    font-family: 'Android';
    font-weight: normal;
}
h3{
    font-family: 'Android';
    font-weight: normal;
    background-image: linear-gradient(to right, #bdf3c1, #bdf3c148);
}

header{
    color: white;
    text-align: center;
    background-image: linear-gradient(to bottom, #0da817, #07640e);
    padding-top: 30px;
    padding-bottom: 10px;
}

header > nav{
    text-align: left;
}

header > p{
    margin-bottom: 20px;
}

header > nav > a{
    margin: 10px;
    text-decoration: none;
    color: white;
}

header > nav > a:hover{
    background-color: #c5f8c993;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #815c5681;
    width: 800px;
    padding: 10px;
    margin: auto;
}

main > section > p{
    font-family: 'Courier New', Courier, monospace;
}

main > section > p > a{
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(to right, #9fcfa2, #84c288a1);
}
main > section > p > a::after{
    content: " - icon";
}

img{
    margin-right: 0px;
    margin-left: 0px;
}

section > img{
    display: block;
    margin: auto;
}








footer{
    padding: 5px;
    color: white;
    background-color: black;
    text-align: center;
}

footer > p{
    margin: 0px;
}